body {
	background-color: rgb(46,204,113);
	margin: 0 auto;
} 
.content {
	width: 500px;
	margin: 0 auto;
	background-color: rgb(255,255,255);
	padding: 20px;
}
img {
	width: 100%;
}
.header h1 {
	text-align: center;
	color: rgb(255,255,255);
}
.header {
	background-color: rgb(243,156,18);
	padding: 10px 0;	
}
h1 {
	text-align: center;
}
.footer {
	text-transform: uppercase;
	font-weight: bold;
	background-color: rgb(127,140,141);
	margin: 0 auto;
	padding: 30px 15px 5px 20px;
}